
div{
    padding: 1rem;
}
input{
    padding: 0.8rem;
    border-radius: 8px;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}
button{
    background-color: rgb(17, 17, 218);
    color: white;
    outline: none;
    border: none;
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;
    border-radius: 4px;
}
h5{
    font-size: 2rem;
}
.answer{
    font-size: 2rem;
}